// Grid
$space-vertical: 2rem;
$space-horizontal: 6rem;
$space-horizontal-small: 1rem;
// Color
$color-grey-1: #303036;
$color-grey-2: #ededed;
$color-grey-3: #6e6e6e;
$color-white-1: #FFFAFF;
$color-black-1: #050401;
$color-blue-1: #30BCED;


$color-blue-2: #006e96;


$color-red-1: #FC5130;
$color-orange-1: rgb(255, 102, 0);
// Font
$font-size-tiny: 1.6rem;
$font-size-small: 2rem;
$font-size-medium: 3rem;
$font-size-big: 10rem !important;
// Row with 
$grid-width: 120rem;