.section-main {
    background-color: $color-grey-2;
    padding-top: 13rem;
    padding-bottom: 10rem;
    &__heading {
        border-left: .4rem solid $color-blue-1;
        color: $color-blue-1;
        padding-left: 2rem;
        letter-spacing: 1px;
    }
    &__content {
        margin-top: 5rem;
        color: $color-grey-1;
    }
    @include respond(screen-768) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.section-news {
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    border-top: 1rem solid $color-orange-1;
    background-color: $color-white-1;
    padding: 1rem 3rem;
    @include respond(screen-1200) {
        padding: .5rem 2rem;
    }
    @include respond(screen-768) {
        padding: 1rem 3rem;
    }
    font-size: $font-size-tiny;
    letter-spacing: .1rem;
    &__header {
        color: $color-black-1;
        font-weight: 800;
    }
    &__footer {
        padding-top: 2rem;
        color: $color-grey-3;
    }
}